<h1 class="text-3xl font-bold text-center mb-6">クイズを編集する</h1>

<%= form_with model: @quiz, local: true, class: "w-full max-w-md mx-auto" do |form| %>
    <% if @quiz.errors.any? %>
        <div class="bg-red-500 text-black p-4 rounded-lg mb-6">
            <ul>
                <% @quiz.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="mb-6">
        <%= form.label :title, 'クイズのタイトル', class: "block text-lg font-semibold" %>
        <%= form.text_field :title, class: "w-full p-3 border rounded-lg", placeholder: "クイズタイトル" %>
    </div>

    <div class="mb-6">
        <%= form.label :description, 'クイズの説明', class: "block text-lg font-semibold" %>
        <%= form.text_area :description, class: "w-full p-3 border rounded-lg", placeholder: "クイズの説明" %>
    </div>

    <div class="mb-6">
        <%= form.label :image, 'サムネイル', class: "block text-lg font-semibold" %>
        <%= form.file_field :image, class: "w-full p-3 border rounded-lg" %>
    </div>

    <div class="mb-6">
        <h2 class="text-lg font-semibold">設問</h2>
        <div id="questions-fields">
            <%= form.fields_for :questions do |question_form| %>
                <div class="question-fields mb-4">
                    <%= question_form.hidden_field :id, value: question_form.object.id %>
                    <%= question_form.text_field :content, value: question_form.object.content, class: "w-full p-3 border rounded-lg", placeholder: "質問内容" %>

                    <div class="choices-fields">
                        <% question_form.object.choices.each_with_index do |choice, choice_index| %>
                            <div class="choice-fields mb-2">
                                <%= question_form.fields_for :choices, choice do |choice_form| %>
                                    <%= choice_form.hidden_field :id, value: choice.id %>
                                    <%= choice_form.text_field :name, value: choice.name, class: "w-full p-3 border rounded-lg", placeholder: "選択肢#{choice_index + 1}" %>
                                    <%= choice_form.radio_button "questions_attributes[#{question_form.index}][correct_choice]", choice.id, class: "ml-2 correct-choice", checked: choice.is_valid %> 正解
                                    <input type="hidden" name="quiz[questions_attributes][#{question_form.index}][choices_attributes][#{choice_index}][is_valid]" value="false">
                                <% end %>
                            </div>
                        <% end %>
                    </div>

                    <%= question_form.text_area :supplement, value: question_form.object.supplement, class: "w-full p-3 border rounded-lg mt-4", rows: 3, placeholder: "解説を入力" %>
                    <input type="hidden" name="quiz[questions_attributes][#{question_form.index}][_destroy]" value="false">
                </div>
            <% end %>
        </div>
        <button type="button" class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600" id="add-question">質問を追加</button>
    </div>

    <div class="mb-6 text-center">
        <%= form.submit "クイズを更新", class: "bg-blue-500 text-block py-2 px-6 rounded-lg hover:bg-blue-600" %>
    </div>
<% end %>
<%= link_to "戻る", quizzes_path, class: "text-blue-500 hover:underline" %>