<h1 class="font-bold text-2xl text-center pt-24 text-green-100 pb-3">みんなのクイズ一覧</h1>
<div class="flex flex-wrap">
  <% @quizzes.each do |quiz| %>
    <div class="w-1/2">
    <%= link_to overview_quiz_path(quiz) do %>
      <% if quiz.image.attached? %>
        <%= image_tag quiz.image, alt: "milmil", class: "w-1/5" %>
      <% else %>
        <%= image_tag 'quiz02.png', alt: 'default image', class: 'w-1/5' %> <!-- デフォルト画像 -->
      <% end %>
      <p><%= quiz.title %></p>
      <p class="text-green-75 pt-12">作成者: <%= quiz.user.name %></p>
      <p>タグ:
        <% quiz.tags.each do |tag| %>
          <span class="tag"><%= tag.tag %></span>
        <% end %>
      </p>
    <% end %>
    </div>
  <% end %>
</div>

<%= link_to "新しいクイズを作成する", new_quiz_path, class: "btn btn-primary" %>

<%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
<%# <%= debug(@user) %>  <!-- @userの内容を表示 -->
<%# <%= JSON.pretty_generate(@user) %>

<div>
  <input type="hidden" id="current-user-id" value="<%= @user['id'] %>"> <!-- ユーザーIDを隠しフィールドに追加 -->
  <p>User Name: <%= @user["name"] %></p>
  <p>User Email: <%= @user["email"] %></p>
  <p>User Nickname: <%= @user["nickname"] %></p>
  <p>User Image: <%= @user["image"] %></p>
  <% if @user %>
    <p>現在の得点: <span id="current-score"><%= @current_score %></span></p>
  <% else %>
    <p>ユーザーがログインしていません。</p>
  <% end %>
</div>

<p className='text-red-800'>じじ</p>