<div>
  <p>Normalized User Profile:</p>
  <pre><%= JSON.pretty_generate(@user) %></pre>
  <p>Full User Profile:</p>
  <pre><%= JSON.pretty_generate(@user) %></pre>
</div>
<div>
  <p>User Name: <%= @user["name"] %></p>
  <p>User Email: <%= @user["email"] %></p>
  <p>User Nickname: <%= @user["nickname"] %></p>
  <p>User Image: <%= @user["image"] %></p>
</div>
<%= debug(@user) %>  <!-- @userの内容を表示 -->



<% if session[:user] %>
<h1>Welcome, <%= session[:user][:name] %>!</h1>
<img src="<%= session[:user][:image] %>" alt="User Image" />
<p>Email: <%= session[:user][:email] %></p>
<%# <a href="/logout">Logout</a> %>
<!-- Place a logout button anywhere on your application -->
  <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
<% else %>
<%# <a href="/auth/auth0">Login with Auth0</a> %>
<!-- Place a login button anywhere on your application -->
  <%# <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %> 
  <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
<% end %>