<div>
  <p>Normalized User Profile:</p>
  <pre><%= JSON.pretty_generate(@user) %></pre>
  <p>Full User Profile:</p>
  <pre><%= JSON.pretty_generate(@user) %></pre>
</div>
<div>
  <p>User Name: <%= @user["name"] %></p>
  <p>User Email: <%= @user["email"] %></p>
  <p>User Nickname: <%= @user["nickname"] %></p>
  <p>User Image: <%= @user["image"] %></p>
</div>
<%= debug(@user) %>  <!-- @userの内容を表示 -->

<% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.nickname %></td>
      </tr>
    <% end %>


<%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false } %>
